/** Layout variables */
/** Product page vars */
@font-face {
  font-family: 'snacks';
  src: url("../fonts/Eczar-Regular.woff") format("woff");
}
* {
  font-family: 'snacks', serif !important;
}
.snacks-content {
  margin-bottom: 49px;
}
